@model IEnumerable<Trace3.Models.ImportData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MFD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lisence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Declaration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MFD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lisence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Declaration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImportDataID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImportDataID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImportDataID })
        </td>
    </tr>
}

</table>
